.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
/*----- Navigation -----*/
.nav-item {
	background-color: white;
	border: 2px solid grey;
	height: 30px;
	width: 120px;
	padding: 10px;
	margin:10px;
}

li {
	list-style: none;
	float: left;
}

ul{
	float:left;
	margin:0px;
	padding:10px;
}

/*----- Header -----*/
#header{
	height:300px;
	background-color: white;
	border: 2px solid grey;
	margin:20px;
}
/*----- four boxes-----*/
.list-item{
	background-color: white;
	border: 2px solid grey;
	height: 150px;
	width: 265px;
	padding: 10px;
	margin:10px;
}
/*----- three boxes-----*/
#three-boxes{
	background-color: white;
	border: 2px solid grey;
	height: 200px;
	margin:20px;
}


.list-three{
	background-color: white;
	border: 2px solid grey;
	height: 150px;
	width: 353px;
	padding: 10px;
	margin:10px;
}
/*----- Toggle Button -----*/
#toggle{
	float:right;
	background-color: white;
	border: 2px solid grey;
	height: 30px;
	width: 30px;
	padding: 10px;
	margin:10px;
	font-size: 26px;
	color:grey;
	display:none;
}

@media (max-width: 600px) {
	#toggle{
		float:right;
		background-color: white;
		border: 2px solid grey;
		height: 30px;
		width: 330px;
		padding: 10px;
		margin:10px;
		font-size: 26px;
		color:grey;
		display:inline-block;
		text-align: center;
	}

	.nav-item {
		background-color: white;
		border: 2px solid grey;
		height: 30px;
		padding: 5px;
		margin:5px;
		display:none;
	}

	#header{
		height:150px;
		background-color: white;
		border: 2px solid grey;
		max-width: 400px;
	}

	.list-item{
		background-color: white;
		border: 2px solid grey;
		height: 50px;
		padding: 5px;
		max-width:400px;
	}
	#three-boxes{
		background-color: white;
		border: 2px solid grey;
		height: 250px;
		max-width:400px;
	}


	.list-three{
		background-color: white;
		border: 2px solid grey;
		height: 50px;
		padding: 5px;
		max-width:300px;
	}

}